/*Review Page*/
.review-page {
  max-width: 900px;
  margin: 0 auto;
  padding: 30px;
  font-family: Georgia, serif;
  color: white;
}

.review-title {
  text-align: center;
  color: rgb(241, 181, 30);
  margin-bottom: 30px;
  font-size: 25px;
}

.review-layout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  justify-items: center;
}

/*Review card */
.review-card {
  width: 200px;           
  background: rgba(132, 119, 119, 0.082);
  padding: 12px 15px;
  margin-top:15px;
  border-left: 1px solid rgb(241, 181, 30);
  border-radius: 10px;
  animation: slideIn 0.6s ease-out;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.review-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0,0,0,0.4);
}
@keyframes slideIn {
  from {
    transform: translateX(80px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.card-title {
  color: rgb(241, 181, 30);
  font-size: 20px;
  margin-bottom: 8px;
}

.card-username,
.card-level,
.card-rating,
.card-comment
 {
  font-size: 13px;
  margin: 6px 0;
  color: white;
}
.card-date
{
    font-size: 12px;
    color:  rgba(255, 255, 255, 0.212)
}

/*write a review button*/
.review-submit-btn {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background: rgb(241, 181, 30);
  color: black;
  font-weight: bold;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
}

.review-submit-btn:hover {
  background: rgb(255, 200, 60);
  transform: scale(1.05);
}