/*Review Page*/
.review-page {
  max-width: 900px;
  margin: 0 auto;
  padding: 30px;
  font-family: Georgia, serif;
  color: white;
}

.review-title {
  text-align: center;
  color: rgb(241, 181, 30);
  margin-bottom: 30px;
  font-size: 25px;
}

.review-layout {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

/*Review card */
.review-card {
  width: 280px;          
  background: rgba(132, 119, 119, 0.082);
  padding: 20px;
  border-left: 1px solid rgb(241, 181, 30);
  border-radius: 10px;
}

.card-title {
  color: rgb(241, 181, 30);
  font-size: 20px;
  margin-bottom: 8px;
}

.card-username,
.card-level,
.card-rating,
.card-comment
 {
  font-size: 16px;
  margin: 6px 0;
  color: white;
}
.card-date
{
    font-size: 12px;
    color:  rgba(255, 255, 255, 0.212)
}